@font-face {
  font-family: 'fontello';
  src:
       url('common/fontello.woff2?41462613') format('woff2'),
       url('common/fontello.woff?41462613') format('woff'),;
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?41462613#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-cloud-flash-inv:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-music:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-menu-outline:before { content: '\e804'; } /* '' */
.icon-drizzle-inv:before { content: '\e805'; } /* '' */
.icon-plancast:before { content: '\e806'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-maxcdn:before { content: '\f136'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-scribd:before { content: '\f28a'; } /* '' */
.icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
