@charset "utf-8";
/***** 기본(모바일) *****/
html { font-family:'Nanum Gothic','맑은 고딕',돋움,-apple-system, sans-serif; font-size:14px; }
ul { list-style: none; margin:0; padding:0;}
a { color: inherit; text-decoration: none; }
img { vertical-align:top; }

.container { display: flex; flex-direction:column;/* 주축: 세로 col */ }



/*header*/
.container header {
    background-color: rgb(14, 13, 13); color: blue;
    box-sizing: border-box;
    width: 100%; height: 100px;

    order: 2;/*grid,flex 아이템에 적용*/

    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between; align-items: center;
}
.container header h1 {margin: 0.4854368%;}
.container header h1 a {background: url(images/logo2.png) no-repeat 0 0 / contain; text-indent: -9999px; 
display: block; width: 53px; height: 60px;}

.container header #gnb {
    display: none;
    
    position: absolute;
    top: 100%; left: 0;
    width: 100%;
    background-color: black;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-family: 'Nanum Gothic',sans-serif;
    
  }
  .container header #gnb a {
    display: block;
    border-bottom: 3px solid #fff;
    padding: 14px 16px;
  }
  .container header #gnb a i { padding-right: 10px; }
  .container header #toggle_menu {
    display: block; text-indent: -9999px;
    background:url(common/aws-brands.svg) no-repeat 50% / contain;
    width:32px; height:32px;
    margin:25px 20px;
  }
  .container header #info, .container header #sns { display: none; }
  

/*register*/
.container #register {
    background-color: rgb(22, 22, 21); color: white;
    font-family: 'Black And White Picture', sans-serif;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 0;
    order: 1;

    display: flex;
    justify-content: space-around;
}


/*main*/
.container main {
    order: 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 23vh;
}
.container main .bg {background:no-repeat 50% / cover;}
/*모바일에서 보이지 않는 박스*/
.container main .box3 {display: none;}
.container main .box4 {display: none; background-image: url(images/pic2.jpg);}
.container main .box5 {background-image: url(images/pic3.jpg);}
.container main .box7 {display: none; background-image: url(images/pic4.jpg);}
.container main .box9 {background-image: url(images/pic5.jpg);}
.container main .box10 {display: none; background-image: url(images/pic6.jpg);}
.container main .box12 {background-image:url(images/pic7.png);}

/*.bg, .txt에서 텍스트와 아이콘 위치 지정을 위해*/
.container main section {position: relative; overflow: hidden;}
/*.txt*/
.container main .txt {line-height: 1.4; padding: 3.883vw;}

.container main .txt i {display: none; position: absolute; color:rgb(228, 211, 211); font-size: 9rem; right: 0; bottom: 5px;}



.container main .box1 {
    background: url(images/pic1.png) no-repeat 100% 0 / cover;

    grid-column: 1/3;
    grid-row: 1/span 2;
  }
.container main .box1 h2 {margin: 0; font-family:'Black And White Picture', cursive; color: rgb(25, 204, 40);
font-size: 8rem; white-space: nowrap; text-shadow: 2px 2px cornsilk; position: absolute; bottom: 0; right:-5px; line-height: 0.8;}

.container main .box2 {background-color: black; color:mediumblue; 
    grid-column:1/3; padding: 8.252vw; font-size: 1.1rem;}

.container main .box2 i { display:block;}

/*footer*/
.container footer {
    order: 4;
    background-color: black; color:purple;
    padding: 10px; text-align: center; padding: 10px;
    text-align: center;}

    /*** 태블릿 ***/
@media screen and (min-width:768px) {
    /*header*/
    .container header #toggle_menu {display:none;}
    .container header #gnb {
        display: flex;
        width: auto;
        /*top:10px left:auto; right:10px; 모바일에 적용한 포지션 살림 */
        position: static;/*초기화. 모바일에 적용된 포지션 값 해제*/

        background: transparent;
    }
    .container header #gnb a { border:none; }

    /*register*/
    .container #register {justify-content: flex-start;}
    .container #register li {width: 100px; text-align: center;}
    .container #register li:nth-child(3) {margin-left: auto;}
    /*flex 사용시 flex-item을 개별 조정하고자 할때 margin-:auto;를 사용*/

    .container main {grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 19vh;}
    .container main .txt {padding: 2.148vw;}
    .container main .txt h3 {margin-top: 10px;}
    .container main .box1 {grid-column:1/span 3;}
    .container main .box2 {grid-column: 4/5; background-color: transparent; color: black;
    padding: 2.148vw;}
    .container main .box3 { display: block; background-color: #000; color:#fff; }
  .container main .box3 i { 
    display: block; font-size:11rem; line-height:0; right:-40px; bottom:0px;
    animation:span 3s infinite linear;
  }
  @keyframes spin {
    0% {/* == from */
      transform: rotate(0);
    }
    100% {/* == to */
      transform: rotate(360deg);
    }
  }
  .container main .box4 { display: block; }
  .container main .box6 { grid-column: 3/5; }
  .container main .box7 { display: block; grid-column: 1 / 3;  }
  .container main .box10 { display: block; grid-column: 1 / 3; }
}
/***PC***/
@media screen and (min-width:1280px){
    html {font-size: 16px;}
    body::-webkit-scrollbar {width: 5px;}
    body::-webkit-scrollbar-track {background-color:white;}
    body::-webkit-scrollbar-thumb {background-color: black;}

    .container {flex-direction: row; flex-wrap: wrap;}
    .container header {order: 1; width: 15%; height:100%; position: fixed; flex-direction: column;
    padding:30px 1%; box-sizing: border-box;}
    .container header h1 {width: 100%;}
    .container header h1 a {background-image:url(images/logo1.jpg); width: 100%;}
    .container header #gnb {margin: auto; margin-top: 100px; width: 100%; flex-direction: column;}
    .container header #gnb a {border-bottom: 1px white; padding: 16px 10px 10px;}
    .container header #gnb a:hover {color: tomato;}
    .container header #info {display: flex; margin: 10px;}
    .container header #info li:first-child::after{background-color: white; display: inline-block;
    width: 1px; height: 20px; margin: 0 10px; vertical-align: bottom;}
    .container header #info li:hover {color: tomato;}
    .container header #sns {display: flex; /*justify-content: center;*/font-size: 2rem;}
    .container header #sns span {display: block; text-indent: -9999px;}
    .container header #sns a:hover {color:tomato;}

    .container #register {order:2; width: 85%; height: 36px; /*position:absolute*/border-bottom:none; margin-left: 15%;}
    .container #register li:hover {color:yellow;}
    .container main {width: 85%; margin-left: 15%; grid-template-columns:repeat(5,1fr);
    grid-auto-rows: 29vh;}
    .container main .box2 {grid-column: 4 / 6; }
    .container main .box6 {grid-column: 2 / 4; }
    .container main .box7 {grid-column: 4 / 5; }
    .container main .box9 {grid-column: 1 / 3; }
    .container main .box10 {grid-column: 3 / 4;}

    .container main .txt h3 {font-size: 1.9rem;}
    .container main .txt i {display: block; color:rgba(0,0,0,.2); transition:.3s; right:-300px;}
    .container main .txt:hover i {right: 0; bottom: 5px;}
    .container main .box3 i {color:rgb(228, 227, 217);}
    .container main .box3:hover i {animation-play-state:paused; color:rgba(255,255,255,1); right: -25px; bottom: 5px;}

    .container main .bg h3 {display: block; font-size: 2rem; 
      font-family:'Black And White Picture'; font-weight: 700; margin: 0; right: 0; bottom: 0; transform: rotate(-360deg) scale(0); transition: 0.3s;}

    .container main .bg:hover h3 {right: 10px; bottom: 10px; transform: rotate(0) scale(1);}

    .container footer {width: 85%; margin-left:15%;}
}
